.select-input {
    position: relative;
    height: 40px;
    padding: 10px 16px;
    box-sizing: border-box;
    background: url(../../../assets/icons/select-arrow.svg) no-repeat 95%;
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    appearance: none;
    
    &:not(:focus):invalid {
        color: #A1A1A1;
    }
    &:focus {
        outline: none;
    }
}

.select-input_size_small {
    width: 288px;
}

.select-input_size_medium {
    width: 356px;
}

.select-input_size_large {

}