.text-input {
    height: 40px;
    background: #F2F2F2;
    border-radius: 4px;
    border: none;
    padding: 16px;
    box-sizing: border-box;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    &::placeholder {
        color: #A1A1A1;
    }
    &:focus {
        outline: none;
        &::placeholder {
            color: transparent;
          }
    }
}

.text-input_size_small {
    width: 288px;
}

.text-input_size_medium {
    width: 356px;
}

.text-input_size_large {
    width: 372px;
}

